@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --primary: #00bfa6;
  --gray: #f1f1f1;
  --dark: #2b2b2b;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--gray);
  color: var(--dark);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-toska {
  background-color: #20c997;
  color: white;
  border: none;
  transition: all 0.3s;
}
.btn-toska:hover {
  background-color: #17a589;
}
