@import "bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
